services:
  db:
    image: docker.io/mysql:8.4
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    container_name: mysql
    cap_add:
      - SYS_NICE
    ports:
      - 3306:3306
    volumes:
      - mysql-volume:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: adminpwd!

  adminer:
    image: docker.io/adminer
    restart: always
    ports:
      - 8080:8080

volumes:
  mysql-volume:
